manifest {
    homePage = 'https://github.com/iarcbioinfo/gatk4-HaplotypeCaller-nf'
    description = 'Nextflow pipeline for GATK4 HaplotypeCaller'
    mainScript = 'gatk4-HaplotypeCaller.nf'
}

profiles {

    local {
        process.executor = 'local'
    }

    cobalt {
        executor.name = 'slurm'
        executor.queueSize = 100
		
		process.queue = 'broadwell'
        process.module = 'extenv/fg'
		
		process {
			withName: SplitIntervals {
				module = 'extenv/fg:samtools/1.9:picard-tools/2.6.0'
			}
        }
		process {
			withName: HaplotypeCaller {
				module = 'java/openjdk/1.8.0'
			}
		}
    }

    jupiter {
        executor.name = 'lsf'
        executor.queueSize = 50
		executor.perJobMemLimit = true
	}

	pioneer {
	        executor.name = 'slurm'
		executor.queueSize = 500
	}


}

